@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url('https://fonts.googleapis.com/css?family=Lato');

body {
	font-family: 'Lato';
	font-size: 20px;
	text-align:center;
}

.pageone{
	background-image: url(okay.jpg);
	background-size: cover;
	position:relative;
	height: 100%;
	color:white;
}

.pagetwo{
	background-image: url(okay2.jpg);
	background-size: cover;
	position:relative;
	height:100%;
}
h3 {
	font-size: 3em;
	top:500px;
	text-transform: uppercase;
}

p{
	height: 50%;
}

#map {
	height: 90%;
	background-color: grey;
	margin-left:10px;
	margin-right: 400px;
	position: relative;
	margin-top:10px;
	margin-bottom:10px;
}
#floating-panel {
        position: absolute;
        font-size: 1em;
        top: 50px;
        left: 25%;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
        text-align: center;
        font-family: 'Roboto','sans-serif';
        line-height: 30px;
        padding-left: 10px;
}

option {
	font-weight:bold;
	padding: 10px;
	border:1px solid green;
}


option:hover {
	color:red;
}


#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  height: 90%;
  float: right;
  width: 390px;
  overflow: auto;
  background-color: white;
  margin-right:10px;
  margin-top:10px;
  margin-bottom:10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
  font-size: 12px;
}